!!! 5
html
	head
		title Google
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.8.3.min.js')
		script(type='text/javascript', src='/javascripts/modernizr.custom.40355.js')
		script(type='text/javascript', src='/javascripts/jquery-seeThru.0.9.8.min.js')
		script(type='text/javascript', src='/javascripts/main.js')
		script(type='text/javascript')
			var name = "#{name}";
	body
		.videocontainer#html5videocontainer
			#googleSearch
				form#gForm
					input#inpSearch(type='input', value='')
			img#googlescreenshot
			#videooverlay
				video#myVideo
					source(src="/video/mixkerst_met_mask_720_2mbps.mp4", type="video/mp4")
					source(src="/video/kolor.ogg", type="video/ogg")
		.videocontainer#youtube


