*{
    margin: 0;
    padding: 0;
    color: #AAAAAA;
}

body, html{
    position: relative;
}

body{
    background-color: #000000;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}

a{
    color: #AAAAAA;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.info{
    position: relative;
}

.klikhier{
    position: relative;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 640px;
}

.videocontainer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 640px;
    height: 360px;
}

#html5videocontainer{
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

#googleSearch{
    position: absolute;
    left: -91px;
    top: -133px;
    background-image: url("../images/googleMix.jpg");
    width: 888px;
    height: 506px;

    display: none;
}

#gform{
    color: #000000;
    width: 571px;
    height: 506px;
    margin-left: auto;
    margin-right: auto;
}

#inpSearch{
    color: #000000;
    position: absolute;
    width: 558px;
    height: 25px;
    top: 208px;
    left: 156px;
    border: none;
    padding: 0px;
    margin: -0.0625em 0px 0px;
    height: 1.25em;
    position: absolute;
   /* z-index: 6;*/
    outline: none;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#googlescreenshot{
    display: none;
    left: -32px;
    top: 0px;
    position: absolute;
}


#videooverlay{
    position: absolute;
    left: 0px;
    top: 0px;
}