*{
    margin: 0;
    padding: 0;
}

#container{
    position: relative;
    width: 640px;
    height: 360px;
    border: 1px solid black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#googleSearch{
    position: absolute;
    top: -60px;
    left: -110px;
    background-image: url("../images/googleMix.jpg");
    width: 888px;
    height: 506px;
}

#gform{
    width: 571px;
    height: 506px;
    margin-left: auto;
    margin-right: auto;
}

#inpSearch{
    position: absolute;
    width: 558px;
    height: 25px;
    top: 208px;
    left: 156px;
    border: none;
    padding: 0px;
    margin: -0.0625em 0px 0px;
    height: 1.25em;
    position: absolute;
   /* z-index: 6;*/
    outline: none;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#googlescreenshot{
    display: none;
}


#videooverlay{
    position: absolute;
    left: 0px;
    top: 0px;
}